/* .dropdown_select {
  margin-top: 9px;
  padding: 16px;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-raduis);
  outline: none;
  font-size: var(--font-size);
  width: 100%;
} */

.dropdown_button {
  margin-top: 9px;
  padding: 16px;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-raduis);
  background-color: var(--white);
  outline: none;
  font-size: var(--font-size);
  width: 100%;
  text-align: left;
  transition: all 0.5s ease;
}
.button_wrapper {
  position: relative;
}
.indicator {
  position: absolute;
  top: 38%;
  right: 28px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  color: var(--gray);
}
.dropdown_button:hover {
  cursor: pointer;
}
.dropdown_button:active {
  background-color: var(--white);
}

.options {
  border: 1px solid var(--light-gray);
  display: none;
  list-style: none;
  padding: 4px 0;
  margin-top: -4px;
}

.show {
  display: block;
}
.options li {
  padding: 6px 10px;
}

.options li:active,
.options li:focus,
.options li:hover,
.options li[aria-selected="true"] {
  background: var(--secondary-color);
  cursor: pointer;
}
