.login_form {
  margin-top: 35px;
}
.login_forgot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  color: var(--black);
}
.login_forgot a {
  color: var(--gray);
}
.form-Input {
  margin-bottom: 32px;
}
.login_form form button {
  margin-top: 30px;
}
.signUp {
  margin-top: 50px;
  text-align: center;
  color: var(--black);
  padding-bottom: 20px;
}
.signUp a {
  color: var(--primary-color);
}
