.signup_name {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.signup_form {
  margin-top: 32px;
}
.signup_form form button[type="submit"] {
  margin-top: 20px;
}
.react-tel-input .form-control {
  font-size: var(--font-size);
  border: none;
  width: 100%;
  color: var(--gray);
}
.react-tel-input .flag-dropdown.open,
.react-tel-input .flag-dropdown,
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background: none;
}
.react-tel-input .flag-dropdown {
  border: none;
  border-right: 1px solid var(--light-gray);
}
.react-tel-input .selected-flag {
  padding: 0;
}
.react-tel-input {
  padding: 10px;
}
.logo_Wrapper {
  margin-bottom: 30px;
}
