/* @import url("http://fonts.cdnfonts.com/css/segoe-ui-4");*/
:root {
  --primary-color: #4375ff;
  --secondary-color: #f3f4f6;
  --black: #000;
  --light-gray: #bec2c6;
  --dark-gray: #151617;
  --gray: #707070;
  --white: #fff;
  --error: #f50000;
  --border-raduis: 7px;
  --heading: 25px;
  --label: 18px;
  --font-size: 16px;
  --sub-font-size: 14px;
  --hint: 12px;
  --res-font-size: 14px;
  --res-sub-font-size: 12px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--font-size);
  min-height: 100vh;
}
