a,
button {
  cursor: pointer;
  text-decoration: none;
}
.title {
  font-size: var(--font-size);
  font-weight: 600;
}
.logo_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}
/*centered content wrapper*/
.content_wrapper {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  padding: 16px 101px 62px 101px;
  text-align: left;
  width: 703px;
  max-width: 703px;
  min-height: 821px;
  margin: auto;
}
/*error*/
.error {
  border-color: var(--error) !important;
}
.error_badge {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: var(--error) !important;
  font-size: var(--sub-font-size);
}
.head {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}
.head a {
  margin-right: 137px;
}
.heading {
  font-size: 25px;
  font-weight: 600;
}
.paragraph {
  font-size: var(--font-size);
  margin-top: 10px;
  color: var(--gray);
}
button[type="submit"] {
  margin-top: 60px;
}
