a,
button {
  cursor: pointer;
  text-decoration: none;
}
.title {
  font-size: var(--font-size);
  font-weight: 600;
}
.logo_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}
/*centered content wrapper*/
.content_wrapper {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  padding: 16px 101px 62px 101px;
  text-align: left;
  width: 703px;
  max-width: 703px;
  margin: auto;
}
/*error*/
.error {
  border-color: var(--error) !important;
}
.error_badge {
  color: var(--error) !important;
}
